<div class="customerView">
  <div> <span>Customer ID: </span> <span>{{ customer.customerId }}</span> </div>
  <div> <span>First Name: </span> <span>{{ customer.firstName }}</span> </div>
  <div> <span>Last Name: </span> <span>{{ customer.lastName }}</span> </div>
  <div> <span>Phone Number: </span> <span>{{ customer.phoneNumber }}</span> </div>
  <div> <span>Email: </span> <span>{{ customer.email }}</span> </div>
  <div> <span>Birth Date: </span> <span>{{ customer.birthDate | date:'shortDate' }}</span> </div>
</div>
